/*This is CSS Part*/
/*span.wccustomfields {
    text-transform: uppercase;
}*/

#wpbody-content{
	overflow-x: hidden !important;
}
.col-md-6.wpcf_taxnomony {
  border-left: 1px solid gainsboro;
  padding-left: 30px;
}
#Custom_filter_option_data legend+* {
  clear: unset;
}
.wpcf_taxnomony,.wpcf_custom_field {
  float: left;
  width: 50%;
  padding: 10px;
  height: auto; /* Should be removed. Only for demonstration */
}
.wcpf_select_radio_options,.wcpf_select_checkbox_options,.wcpf_parent-cat {
  max-height: 180px;
  overflow: auto;
}
/* Clear floats after the columns */
.wpcf_custom_field_and_taxanomy:after {
  content: "";
  display: table;
  clear: both;
}
.wpcf_custom_field_and_taxanomy{
  overflow-x: hidden !important;
}
.wpcf_submit{
  margin-top: 26px;
  background: #005da7;
  padding: 8px;
  width: 100px;
  color: #fff;
  border: none;
  font-size: 17px;
  font-weight: 600;
  border-radius: 5px;
}
.wpcf_taxnomony .toggle-checkbox {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  background-color: #ccc;
  border-radius: 12px;
  cursor: pointer;
}
th.field_action {
  width: 400px;
}

.wpcf_taxnomony .toggle-checkbox input {
  display: none;
}


.wpcf_taxnomony .slider {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s ease;
}


.toggle-checkbox input:checked + .slider {
  transform: translateX(26px);
}

.wpcf_taxnomony .toggle-checkbox input:checked + .slider {
  background-color: #2196F3;
}
.wpcf_taxnomony span.wccustomfields {
    margin-left: 55px;
}

h4.pugin-heading {
    text-transform: capitalize;
    text-align: center;
    padding: 15px;
    background: #3f42b7;
    color: #fff;
    margin-top: 20px;
    font-size: 20px;
}
.fa-edit:before, .fa-pencil-square-o:before {
  content: "\f044";
}
a.custom-options-update-link {
  margin-right: 10px;
  cursor: pointer;
  color: #3f42b7;
}
.custom-options-delete-link,.wcpf_delete_link{
  color: #3f42b7;
}
.sting input#submit,.new-tax input.wcpf_submit_taxonomy{
  background: #3f42b7;
  border: 0;
  font-size: 16px;
  letter-spacing: 1px;
}
.add_new_fields input[type="submit"],.cpf_submit_taxonomy {
  background: #3f42b7;
  border: 0;
  font-size: 16px;
  letter-spacing: 1px;
}
.table-style button {
    background: red;
    padding: 12px;
    border: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: -9px 13px 26px 11px rgba(0,0,0,0.4);
    -webkit-box-shadow: -11px 13px 24px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: -9px 13px 26px 11px rgba(0,0,0,0.4);
}



.sting .form-table th {
  width: 300px;
}
span.wccustomfields {
    text-transform: capitalize;
}

.field_type {
    margin-top: 10px;
}


div#input-container {
    margin-top: 10px;
}

textarea#custom_input {
    margin-left: 5px;
}

legend {
    font-size: 12px !important;
    text-transform: capitalize !important;
}

ul.wc-radios li {
    display: inline-block;
    margin: 0px 10px;
    position: relative;
    float: left;
    margin-left: 90px;
}

table.table tr td {
    text-transform: capitalize;
}




/*  Shop page Filter Css start 22-11-2023  */

.wcpf_main_section_filter input[type=text], .wcpf_main_section_filter input[type=password], .wcpf_main_section_filter input[type=email], .wcpf_main_section_filter input[type=url], .wcpf_main_section_filter input[type=date], .wcpf_main_section_filter input[type=month], .wcpf_main_section_filter input[type=time], .wcpf_main_section_filter input[type=datetime], .wcpf_main_section_filter input[type=datetime-local], .wcpf_main_section_filter input[type=week], .wcpf_main_section_filter input[type=number], .wcpf_main_section_filter input[type=search], .wcpf_main_section_filter input[type=tel], .wcpf_main_section_filter input[type=color], .wcpf_main_section_filter select, .wcpf_main_section_filter textarea {
  display: inline-block;
  min-height: 40px;
  height: 40px;
  width: 100%;
  font-size: 14px;
  line-height: 1.8;
  padding: 6px 12px;
  vertical-align: middle;
  background-color: rgba(0,0,0,0);
  color: #333;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.chosen-container-multi .chosen-choices{
  border: 1px solid #ddd;
  border-radius: 3px;
}
div#price-range-slider.noUi-horizontal .noUi-handle.noUi-handle-lower {
  right: -33px;
}
div#price-range-slider.noUi-horizontal .noUi-handle.noUi-handle-upper {
  right: -2px;
}
div#price-range-slider.noUi-horizontal .noUi-handle-lower .noUi-tooltip {
  left: 40%;
  font-size: 12px;
}
div#price-range-slider.noUi-horizontal .noUi-handle-upper .noUi-tooltip {
  left: 35%;
  font-size: 12px;
}
div#price-range-slider.noUi-horizontal .noUi-tooltip {
  background: #3f42b7;
  color: #ffffff;
  padding: 0 10px;
  box-shadow: none;
  border: none;
}
.wcpf_select_dropdown,.wcpf_select_radio,.wcpf_select_input,.wcpf__search,.wcpf__price,.wcpf__rating,.wcpf__tags,.wcpf_select_checkboxes{
    padding-top: 30px;
}
div#price-range-slider {
  margin-top: 60px;
  margin-bottom: 5px;
}
div#price-range-slider .noUi-connect {
  background: #3f42b7;
  height: 10px;
}
div#price-range-slider.noUi-horizontal {
  height: 10px;
}
div#price-range-slider .noUi-handle:after, div#price-range-slider .noUi-handle:before {
  top: 2px;
}
div#price-range-slider.noUi-horizontal .noUi-handle {
  height: 20px;
}
.wcpf__rating label div{
  font-size: 18px;
  margin-right: 3px;
}
.wcpf__rating label {
  line-height: 20px;
}
.woocommerce ul.wcpf_parent-cat {
  margin-bottom: 20px;
  list-style: none;
  margin-left: 0;
  padding: 0;
}
button.filter_id {
    margin-top: 10px;
    background: #3f42b7;
    border: none;
    color: #fff;
    border-radius: 3px;
    padding: 8px 10px;
    width:48%;
    line-height: 27px;
}
h5.wcpf-filter-heading {
  margin-bottom: 20px;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 15px;
}
.product_not_found {
    text-align: center;
    padding: 39px 0px;
    font-size: 20px;
}


/*--- Loader Css------*/

.filter_loader {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #eee;
  border-top-color: #666;
  animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(1turn);
  }
}



/*----Toggle Button Css-------*/

.toggle-container .wpcf_switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 27px;
}
.toggle-container {
  margin-bottom: 12px;
}
.toggle-container .wpcf_switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-container .wpcf_slider {
  position: absolute;
  cursor: pointer;
  top: -1px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.toggle-container .wpcf_slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 25px;
  left: 3px;
  bottom: 2.3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.toggle-container input:checked + .wpcf_slider {
  background-color: #3f42b7;
}

.toggle-container input:focus + .wpcf_slider {
  box-shadow: 0 0 1px #2196F3;
}
.wpcf_switch_woo_cat input:checked + .wpcf_slider {
  background-color: #3f42b7;
}
label.wpcf_switch_woo_cat {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 27px;
}
label.wpcf_switch_woo_cat input {
  opacity: 0;
  width: 0;
  height: 0;
}
.woo_cat_name {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: lef;
  left: 69px;
  width: 200px;
}
.toggle-container input:checked + .wpcf_slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded wpcf_sliders */
.toggle-container .wpcf_slider.wpcf_round {
  border-radius: 34px;
}

.toggle-container .wpcf_slider.wpcf_round:before {
  border-radius: 50%;
}


a.wcpf_delete_link {
  cursor: pointer;
}
.wpcf__filedname {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: lef;
  left: 69px;
  width: 200px;
}

/*  For newoption page css */

.custom_field_list {
  padding: 64px 10px;
}
.custom_field_list h3 {
  text-align: center;
  font-size: 35px;
  padding-bottom: 24px;
}
.wcpf_add_new_custom_field {
  padding: 8px 20px;
  margin-bottom: 12px;
  background: #3f42b7;
  color: #fff;
  border: none;
  border-radius: 5px;
}
.woocommerce_options_panel .admin-checkboxes label {
  clear: unset;
  width: auto;
  display: inline-block;
  float: unset;
  margin: unset;
  margin-bottom: 8px;
}
.woocommerce_options_panel .admin-checkboxes input {
  margin: 0 5px;
} 
.woocommerce_options_panel .admin-checkboxes {
  padding-left: 10px;
  margin-bottom: 15px;
  display: flex;
    flex-wrap: wrap;
}
.woocommerce_options_panel .admin-checkboxes span.label {
  width: 20.5%;
  display: inline-block;
}
.woocommerce_options_panel .admin-checkboxes .list-checkboxes {
  width: 78%;
  display: inline-block;
}
.max_700{
  max-width: 700px !important;
  margin-left: unset !important;
  padding: 50px;
}
.add_new_fields #field_type{
  width: 100%;
  max-width: none;
}
.add_new_fields textarea#custom_input{
  margin-left: 0;
}

.succss_msg{
  color: green;
  font-size: 18px;
}
.error_msg{
  color: red;
  font-size: 18px;
}


/* For css display taxonomy in hierarchy on shop page */

.wcpf-main-taxonomies-filters .wcpf_parent-cat ul.wcpf_child-cat {
    margin-left: 20px;
}
.wcpf-main-taxonomies-filters.pt-3 {
    margin-top: 25px;
}

.wcpf-main-taxonomies-filtersinput[type=checkbox] {
    border-radius: 3px;
}
.wcpf-main-taxonomies-filters{
  margin-top: 20px;
}
.taxonomy_names{
  margin-top: 10px;
  margin-bottom: 5px;
}
.wcpf_child-cat{
  display: none;
}
span.arrow {
    margin-left: 10px;
    color: #aeaeae;
    cursor: pointer;
}
button.wcpf_clear_all_field{
  margin-top: 10px;
  background: #e9e9e9;
  border: none;
  color: #000;
  border-radius: 3px;
  padding: 8px 10px;
  width:48%;
  line-height: 27px;
}
.filter__container_btn {
  display: flex;
  align-items: center;
  gap: 8px;
}

.wcpf__rating .star-active {
  color: #f5c518;
}

.wcpf__rating .star {
  color: #ccc;
}

.wcpf__rating label {
  display: inline-flex !important;
}